.currency-down{
    background-color: rgb(131, 241, 179);
    border: none;
    border-radius: 5px;
    color: white;
    width: 170px;
}

.currency-menu{
    background: rgb(131, 241, 179);
}

.currency-menu:hover{
    background-color: white;
    cursor: default;
}

.incrs-btn{
    border: none;
    border-radius: 50%;
    background-color: rgb(24, 136, 24);
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.decrs-btn{
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 500;
    width: 25px;
}